{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> {% block title %} {% endblock %}


</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light navbar-fixed-top">
        <div class="container-fluid custom-container">
            <a class="navbar-brand Nav-head" href="#">WATER JUSTICE FOR ALL AUSSIES</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown text-uppercase">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Dropdown
							</a>
                        <div class="dropdown-menu custom-style" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item custom-style" href="#">Action</a>
                            <a class="dropdown-item custom-style" href="#">Another action</a>
                            <a class="dropdown-item custom-style" href="#">Another action</a>
                            <a class="dropdown-item custom-style" href="#">Another action</a>

                        </div>
                    </li>
                    <li class="nav-item dropdown text-uppercase">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Dropdown
							</a>
                        <div class="dropdown-menu custom-style" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item custom-style" href="#">Action</a>
                            <a class="dropdown-item custom-style" href="#">Another action</a>
                            <a class="dropdown-item custom-style" href="#">Another action</a>
                            <a class="dropdown-item custom-style" href="#">Another action</a>

                        </div>
                    </li>
                    <li class="nav-item dropdown text-uppercase">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Dropdown
							</a>
                        <div class="dropdown-menu custom-style" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item custom-style" href="#">Action</a>
                            <a class="dropdown-item custom-style" href="#">Another action</a>
                            <a class="dropdown-item custom-style" href="#">Another action</a>
                            <a class="dropdown-item custom-style" href="#">Another action</a>

                        </div>
                    </li>
                    <li class="nav-item dropdown text-uppercase">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Dropdown
							</a>
                        <div class="dropdown-menu custom-style" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item custom-style" href="#">Action</a>
                            <a class="dropdown-item custom-style" href="#">Another action</a>
                            <a class="dropdown-item custom-style" href="#">Another action</a>
                            <a class="dropdown-item custom-style" href="#">Another action</a>

                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="#">Donate</a>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <!-- header part end -->
    {% block container %} {% endblock %}
    <!-- footer part start -->
    <div class="container-fluid section footer-section">
        <div class="container-fluid custom-container">
            <div class="row footer-content">
                <div class="col-mid-2 footer-list">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Our vision</a></li>
                        <li><a href="#">Mentor Team</a></li>
                        <li><a href="#">careers</a></li>
                        <li><a href="#">Latesh news</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-mid-2 footer-list">
                    <h3>Campaigns</h3>
                    <ul>
                        <li><a href="#">Campaign 1</a></li>
                        <li><a href="#">Campaign 2</a></li>
                        <li><a href="#">Campaign 3</a></li>
                        <li><a href="#">Campaign 4</a></li>
                    </ul>
                </div>
                <div class="col-mid-2 footer-list">
                    <h3>Impact</h3>
                    <ul>
                        <li><a href="#">2016 Anual Report</a></li>
                        <li><a href="#">Success Stories</a></li>
                    </ul>
                </div>
                <div class="col-mid-2 footer-list">
                    <h3>Ways to Help</h3>
                    <ul>

                        <li><a href="#">Donate</a></li>
                        <li><a href="#">Become a Sponsor</a></li>
                        <li><a href="#">Join the Team</a></li>

                    </ul>
                </div>
                <div class="col-mid-2 footer-list">
                    <h3>blog</h3>

                </div>
                <div class="col-mid-2 footer-content-bg">
                    <h3>Subscribe to our Newsletter</h3>
                    <p>Here is a description of your newsletter. Ut dui quam, dignissim sed nisl sed, viverra tempor ipsum. Nunc sollicitudin ipsum at purus tincidunt eleifend. Duis ut neque ullamcorper elit sagittis facilisis vel quis. </p>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-4"></div>
                <div class=" col-md-4 footer-text-bg">
                    <p>This site & digital infrastructure is sponsored by:</p>
                    <p>The RepresentUs - Think Tank :</p>
                    <p>The RepresentUs - Australia - Movement :</p>
                    <p>Upward Enterprises</p>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
    
    <!-- footer part end -->
    {% block style %} {% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Libre+Franklin:wght@300&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{%static 'css/navbartop.css'%}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <script src=" {% static 'js/navbartop.js' %} "></script>

</body>

</html>