{% extends 'base_index.html' %} {% load static %} {% block title %}

<title>
    Become a Sponsor — WATER JUSTICE FOR ALL AUSSIES
</title>
{% endblock title %} {% block container %}
<div class="container">
    {% for key, value_list in output.items %}
    <div class="row">
        {% for i in value_list %}
        <div class="col-md-4">
            <h1 class="header1">{{i.title}}</h1>
            {% if i.image and i.image.strip %}
            <div class="card" style="width: 100%;">
                {% with 'images/'|add:i.image as image_static %}
                <img class="card-img-top" src="{% static image_static %}" alt="Card image cap"> {% endwith %}
            </div>
            {% endif %}
            <p class="para">
                {{i.description}} {% if i.more_text and i.more_text.strip %} {% with i.more_href as hrf %}
                <a href="{% url hrf %}">{{i.more_text}}</a> {% endwith %} {% endif %}
            </p>
            <button type="button" class="btn btn-outline-dark">
						{% with i.button_href as hrf %}
						<a href= " {% url hrf %}">{{i.button_title}}</a>
						{% endwith %}
						</button>
        </div>
        {%endfor%}
    </div>
    {%endfor%}
</div>
{% endblock container %} {% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/template.css' %} ">
<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %} "/>

{% endblock style %}