{% extends 'base_index.html' %} {% load static %} {% block title %}
<title>
    Campaign 4 — WATER JUSTICE FOR ALL AUSSIES
</title>
{% endblock title %} {% block container %}

<div class="container-fluid custom-container">
    <div class="row">
        <div class="col-md-6">
            <h6 class="header6 text-uppercase">Current Campaign</h6>
            <h2 class="header2">Donec consectetur, odio eget porta varius, orci mauris viverra.</h2>

        </div>
    </div>
    <div class="outer-div">

        <div class="row">
            <div class="col-md-4">
                <p class="para">
                    Here is a description of your campaign. Sed a eros nec leo euismod eleifend sit amet ut nisl blandit. Nullam tempor dolor sed nulla auctor, nec placerat felis sodales. Etiam et turpis mattis, efficitur mi ut, ultrices diam. Donec consectetur, odio eget
                    porta varius, orci mauris viverra ante, eget egestas turpis sapien vel orci. Donec eu ornare augue, ut efficitur velit. Vestibulum et magna mattis, sollicitudin ligula. Nullam tempor dolor sed nulla auctor, nec placerat felis sodales.
                    Etiam et turpis mattis, efficitur mi ut, ultrices diam. Donec consectetur, odio eget porta varius, orci mauris viverra ante, eget egestas turpis sapien vel orci. Donec consectetur, odio eget porta varius, orci mauris viverra ante,
                    eget egestas turpis sapien vel orci. Donec eu ornare augue, ut efficitur velit. Vestibulum et magna mattis, sollicitudin ligula ac, facilisis dui. Ut blandit lectus neque, sit amet fringilla nisi mollis eget. Sed a eros nec leo euismod
                    eleifend sit amet ut nisl. Sed a eros nec leo euismod eleifend sit amet ut nisl blandit. Nullam tempor dolor sed nulla auctor, nec placerat felis sodales. Etiam et turpis mattis, efficitur mi ut, ultrices diam. Donec consectetur, odio
                    eget porta varius, orci mauris viverra ante, eget egestas turpis sapien vel orci. Donec eu ornare augue, ut efficitur velit. Vestibulum et magna mattis, sollicitudin ligula.
                </p>
                <button type="button" class="btn btn-outline-dark">
				<a href=" {% url 'become_a_sponsor' %}">SPONSOR THIS PROJECT →</a>
						</button>
            </div>
            <div class="col-md-4">
                <p class ="para">
                    Sed a eros nec leo euismod eleifend sit amet ut nisl. Sed a eros nec leo euismod eleifend sit amet ut nisl blandit. Sed a eros nec leo euismod eleifend sit amet ut nisl blandit. Nullam tempor dolor sed nulla auctor, nec placerat felis sodales. Etiam et
                    turpis mattis, efficitur mi ut, ultrices diam. Donec consectetur, odio eget porta varius, orci mauris viverra ante, eget egestas turpis sapien vel orci. Donec eu ornare augue, ut efficitur velit. Vestibulum et magna mattis, sollicitudin
                    ligula. Nullam tempor dolor sed nulla auctor, nec placerat felis sodales. Etiam et turpis mattis, efficitur mi ut, ultrices diam. Donec consectetur, odio eget porta varius, orci mauris viverra ante, eget egestas turpis sapien vel orci.
                    Donec eu ornare augue, ut efficitur velit. Vestibulum et magna mattis, sollicitudin ligula. Donec consectetur, odio eget porta varius, orci mauris viverra ante, eget egestas turpis sapien vel orci. Donec eu ornare augue, ut efficitur
                    velit. Vestibulum et magna mattis, sollicitudin ligula ac, facilisis dui. Ut blandit lectus neque, sit amet fringilla nisi mollis eget. Sed a eros nec leo euismod eleifend sit amet ut nisl. Donec eu ornare augue, ut efficitur velit.
                    Vestibulum et magna mattis, sollicitudin ligula ac, facilisis dui. Ut blandit lectus neque, sit amet fringilla nisi mollis. Sed a eros nec leo euismod eleifend sit amet ut nisl.
                </p>
            </div>
            <div class="col-md-4">
                <br>
                <img src=" {% static 'images/camp-4.jpeg' %} " class="img-fluid">
                <p class="para">
                    Donec Consectetur Odio eget porta varius, orci mauris viverra ante sit amet ut nisl.
                </p>
            </div>
        </div>
    </div>
    </div>
        <div class="row">
        <div class="col-md-12">
        </div>
    </div>
</div>
{% endblock container %} {% block style %}

<link rel="stylesheet" type="text/css" href=" {% static 'css/template.css' %} " />
<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %} "/>

{% endblock style %}