{% extends 'base_index.html' %} {% load static %} {% block title %}
<title>
Water - The 2020's Human Rights Issue
</title>
{% endblock title %} {% block container %}
<div class="container-fluid custom-container">
  
    <div class="row">
        
        <div class="col-md-8 offset-md-2">
            <h1 class="header1 text-center ">Water - The 2020's Human Rights Issue</h1>
            <h6 class="header6" style="text-align:center">ROD UPWARD
 | JANUARY 22, 2020</h6>
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <p class="para">
                    I am gobsmacked to be having to write that water sovereignty for all Australians is rapidly becoming the social justice and human rights issue of our nation. If I was to point at two reasons to this alarming state of affairs it would be climate change and greed.
                    </p> 
                </div>
                
            </div>
        </div>
        
    </div>


  <!--Social Media-->
    <div class="row">
      <div class="col-md-12 offset-md-3 text-center">
        
        <a href="javascript::;"><div class="twitter-hover social-slide"></div></a>
        <a href="javascript::;"><div class="facebook-hover social-slide"></div></a>
        <a href="javascript::;"><div class="google-hover social-slide"></div></a>
        <a href="javascript::;"><div class="linkedin-hover social-slide"></div></a>
        <a href="javascript::;"><div class="pinterest-hover social-slide"></div></a>
        <a href="javascript::;"><div class="instagram-hover social-slide"></div></a>
        <a href="javascript::;"><div class="tumblr-hover social-slide"></div></a>
        <a href="javascript::;"><div class="reddit-hover social-slide"></div></a>
        <a href="javascript::;"><div class="stumbleupon-hover social-slide"></div></a>
      </div>
	  </div>
  
  </div>

</div>

    {% endblock container %} {% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/template.css' %} " />
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %} "/>
    
    
    {% endblock style %}