{% extends 'base_index.html' %} {% load static %} {% block title %}
<title>
{{detail.title}}
</title>
{% endblock title %} {% block container %}
<div class="container">
  {% if detail.slug %}
    <div class="row">
        
        <div class="col-md-8 offset-md-2">
            <h1 class="header1 text-center ">{{detail.title}}</h1>
            <h6 class="header6" style="text-align:center">{{detail.author}} | {{detail.date}}</h6>
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <p class="para">
                    {{detail.description}}
                    </p> 
                </div>
                
            </div>
        </div>
        
    </div>


  <!--Social Media-->
    <div class="row">
      <div class="col-md-8 offset-md-2">
        
        <a href="javascript::;"><div class="twitter-hover social-slide"></div></a>
        <a href="javascript::;"><div class="facebook-hover social-slide"></div></a>
        <a href="javascript::;"><div class="google-hover social-slide"></div></a>
        <a href="javascript::;"><div class="linkedin-hover social-slide"></div></a>
        <a href="javascript::;"><div class="pinterest-hover social-slide"></div></a>
        <a href="javascript::;"><div class="instagram-hover social-slide"></div></a>
        <a href="javascript::;"><div class="tumblr-hover social-slide"></div></a>
        <a href="javascript::;"><div class="reddit-hover social-slide"></div></a>
        <a href="javascript::;"><div class="stumbleupon-hover social-slide"></div></a>
      </div>
	  </div>
  <!--Pre Next Button-->
  <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2">
            <i class="fas fa-chevron-left" style="font-size:500%;"></i>
          </div>
          <div class="col-md-10">
            <h6 class="header6">Previous</h6><br>
            <h2 class="header2">Title</h2>
          </div>
        </div>
      </div>
      <div class="col-md-6" style="text-align:right;">
        
          <div class="row">
            <div class="col-md-10">
              <h6 class="header6">Next</h6><br>
              <h2 class="header2">Title</h2>
            </div>
            <div class="col-md-2">
              <i class="fas fa-chevron-right" style="font-size:500%;" ></i>
            </div>
            
          </div>
      </div>
  </div>

</div>
{% endif %}
    {% endblock container %} {% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/template.css' %} " />
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %} "/>
    
    
    {% endblock style %}