{% extends 'base_index.html' %}
{% load static %}
{% block title %}
	<title>
		Mentor Team — WATER JUSTICE FOR ALL AUSSIES
	</title>
{% endblock title %}
		
{% block container %}
	<div class="first-div">
		<h2>Dedicated experts with a proven record of success.</h2>
			
	</div>
	<div class="row">
		<div class="column-first">
			<h1>Ground Team</h1>
			<div class="inner-div">Desc<title>
		Mentor Team — WATER JUSTICE FOR ALL AUSSIES
		</title>ription text. Etiam et turpis mattis, efficitur mi ut, ultrices diam. Donec consectetur,odio eget porta varius.<br><br><br>
				<div class="wrapper">
					<button type="button" class=" btn-read" name="mentor_careers" value="mentor_careers" id = "mentor_careers">
						<a href="{% url 'careers_mentor' %}">
							MENTOR CAREERS →
						</a>
					</button>
				</div>
				</div>
		</div>
		<div class="column">
			<table>
				<tr>
					<th>Teachers</th>
					<th>Staff</th>
					<th>Volunteers</th>
				</tr>
				<tr>
					<td>Nullam Tempor</td>
					<td>Nullam Tempor</td>
					<td>Nullam Tempor</td>
				</tr>
				<tr>
					<td>Dolor Sed Nulla</td>
					<td>Dolor Sed Nulla</td>
					<td>Dolor Sed Nulla</td>
				</tr>
				<tr>
					<td>Auctor Nec</td>
					<td>Auctor Nec</td>
					<td>Auctor Nec</td>
				</tr>
				<tr>
					<td>Placerat Felis</td>
					<td>Placerat Felis</td>
					<td>Placerat Felis</td>
				</tr>
				<tr>
					<td>Sed Etiam</td>
					<td>Sed Etiam</td>
					<td>Sed Etiam</td>
				</tr>
				<tr>
					<td>Ultrices Diam</td>
					<td>Ultrices Diam</td>
					<td>Ultrices Diam</td>
				</tr>
				<tr>
					<td>Donec Consectetur</td>
					<td>Donec Consectetur</td>
					<td>Donec Consectetur</td>
				</tr>
				<tr>
					<td></td>
					<td>Odio Eget </td>
					<td>Odio Eget </td>
				</tr>
				<tr>
					<td></td>
					<td>Porta Varius</td>
					<td>Porta Varius</td>
				</tr>
				<tr>
					<td></td>
					<td>Efficitur Mit</td>
					<td>Efficitur Mit</td>
				</tr>
				<tr>
					<td></td>
					<td>Turpis Mattis</td>
					<td></td>
				</tr>
			</table>
				
		</div>
	</div>
	<div class="row">
		<div class="column-first">
			<h1>Senior Leadership</h1>
			<div class="inner-div">Description text.Etiam et turpis mattis, efficitur mi ut, ultrices diam. Donec consectetur, odio eget porta varius, orci mauris viverra ante, eget egestas turpis sapien vel.
			</div>
		</div>
		<div class="column">
			<table>
				<tr>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				<tr>
					<td>Donec Consectetur</td>
					<td>Eget Egestas</td>
					<td>Ornare Augue</td>
				</tr>
				<tr>
					<td>Position</td>
					<td>Position</td>
					<td>Position</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Odio Eget</td>
					<td>Turpis Sapien</td>
					<td>Ut Efficitur</td>
				</tr>
				<tr>
					<td>Position</td>
					<td>Position</td>
					<td>Position</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Porta Varius</td>
					<td>Vel Orci</td>
					<td>Velit Vestibulum</td>
				</tr>
				<tr>
					<td>Position</td>
					<td>Position</td>
					<td>Position</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Mauris Viverra-Ante</td>
					<td>Donec Eu</td>
					<td></td>
				</tr>
				<tr>
					<td>Position</td>
					<td>Position</td>
					<td></td>
				</tr>
			</table>
				
		</div>
	</div>
	<div class="row">
		<div class="column-first">
			<h1>Board of Trustees</h1>
			<div class="inner-div">Description text. Nunc cursus erat ut nisi facilisis, vel fringilla pellentesque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac.</div>
				
		</div>
		<div class="column">
			<table>
				<tr>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				<tr>
					<td>Mauris Viverra-Ante</td>
					<td>Vel Orci</td>
					<td>Donec Eu </td>
				</tr>
				<tr>
					<td>Company</td>
					<td>Company</td>
					<td>Company</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Eget Egestas</td>
					<td>Velit Vestibulum</td>
					<td>Ornare Augue</td>
				</tr>
				<tr>
					<td>Company</td>
					<td>Company</td>
					<td>Company</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Donec Consectetur</td>
					<td>Et Magna</td>
					<td>Odio Eget</td>
				</tr>
				<tr>
					<td>Company</td>
					<td>Company</td>
					<td>Company</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Turpis Sapien</td>
					<td>Porta Varius</td>
					<td>Ut Efficitur</td>
				</tr>
				<tr>
					<td>Company</td>
					<td>Company</td>
					<td>Company</td>
				</tr>
			</table>
				
		</div>
	</div>
{% endblock container %}
		
{% block style %}
	<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Libre+Franklin:wght@300&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static 'css/mentor_team.css' %}"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

{% endblock style %}

		