{% extends 'base_index.html' %}
{% load static %}
{% block title %}
	<title>
	Mentor Team — WATER JUSTICE FOR ALL AUSSIES
	</title>
{% endblock title %}

{% block container %}
	<div class="container-fluid custom-container">
		<div class="row">
			<div class="col-md-4">
				<h2 class="header2">Dedicated experts with a proven record of success.</h2>
			</div>
		</div>
		<div class="row row-inner">
			<div class="col-md-6">
				<h1 class=header1>Ground Team</h1>
				<div class="inner-div"><p class="para">Description text. Etiam et turpis mattis, efficitur mi ut, ultrices diam. Donec consectetur,odio eget porta varius.
					<br><br><br></p>
					<div class="wrapper">
						<button type="button" class="btn-read" name="mentor_careers" value="mentor_careers" id = "mentor_careers">MENTOR CAREERS →</button>
					</div>
				</div>
			</div>
			<div class="col-md-6 ">
				<div class="row column-table">
					<div class="col-md-4">
						<b>Teachers</b><br>
						Nullam Tempor<br>
						Dolor Sed Nulla<br>
						Auctor Nec<br>
						Placerat Felis<br>
						Sed Etiam<br>
						Ultrices Diam<br>
						Donec Consectetur<br>
						
					</div>
					<div class="col-md-4">
						<b>Staff</b><br>
						Nullam Tempor<br>
						Dolor Sed Nulla<br>
						Auctor Nec<br>
						Placerat Felis<br>
						Sed Etiam<br>
						Ultrices Diam<br>
						Donec Consectetur<br>
						Odio Eget<br>
						Porta Varius<br>
						Efficitur Mit<br>
						Turpis Mattis<br>
					</div>
					<div class="col-md-4">
						<b>Volunteers</b><br>
						Nullam Tempor<br>
						Dolor Sed Nulla<br>
						Auctor Nec<br>
						Placerat Felis<br>
						Sed Etiam<br>
						Ultrices Diam<br>
						Donec Consectetur<br>
						Odio Eget<br>
						Porta Varius<br>
						Efficitur Mit<br>
					</div>
				</div>
				
			</div>
		</div>
		<div class="row column-table row-inner">
			<div class="col-md-6">
				<h1 class="header1">Senior Leadership</h1>
				<div class="inner-div">Description text.Etiam et turpis mattis, efficitur mi ut, ultrices diam. Donec consectetur, odio eget porta varius, orci mauris viverra ante, eget egestas turpis sapien vel.
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4">
						Donec Consectetur<br>
						Position<br><br>
						Odio Eget<br>
						Position<br><br>
						Porta Varius<br>
						Position<br><br>
						Mauris Viverra-Ante<br>
						Position<br><br>
						
					</div>
					<div class="col-md-4">
						Eget Egestas<br>
						Position<br><br>
						Turpis Sapien<br>
						Position<br><br>
						Vel Orci<br>
						Position<br><br>
						Donec Eu<br>
						Position<br><br>
					</div>
					<div class="col-md-4">
						Ornare Augue<br>
						Position<br><br>
						Ut Efficitur<br>
						Position<br><br>
						Velit Vestibulum<br>
						Position<br><br>
					</div>
				</div>
				
			</div>
		</div>
		<div class="row column-table row-inner">
			<div class="col-md-6">
				<h1 class="header1">Board of Trustees</h1>
				<div class="inner-div">Description text. Nunc cursus erat ut nisi facilisis, vel fringilla pellentesque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac.</div>
				
			</div>
			<div class="col-md-6">
				<div class="row ">
					<div class="col-md-4">
						Mauris Viverra-Ante<br>
						Company<br><br>
						Eget Egestas<br>
						Company<br><br>
						Donec Consectetur<br>
						Company<br><br>
						Turpis Sapien<br>
						Company<br><br>
						
					</div>
					<div class="col-md-4">
						Vel Orci<br>
						Company<br><br>
						Velit Vestibulum<br>
						Company<br><br>
						Et Magna<br>
						Company<br><br>
						Porta Varius<br>
						Company<br><br>
					</div>
					<div class="col-md-4">
						Donec Eu<br>
						Company<br><br>
						Ornare Augue<br>
						Company<br><br>
						Odio Eget<br>
						Company<br><br>
						Ut Efficitur<br>
						Company<br><br>
					</div>
				</div>
				
			</div>
		</div>
		</div>
	{% endblock container %}
	
	{% block style %}
		
		<link rel="stylesheet" type="text/css" href="{% static 'css/template.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %} "/>
		
	{% endblock style %}