

{% extends 'base_index.html' %}
{% load static%}

{%block title%}
	<title>
		Our Vision
	</title>
{%endblock%}
	
{%block container%}
	<div class="first-div">
		<h2>Our Vision</h2>
		<h1>Our Water Our Common Wealth ..</h1>
	</div>
	<div class="row">
		<div class="column">
			<p>The simple proposition that informs the purpose of this movement for water justice is that in an open and democratic society our water is owned by all Australians. Our elected representatives - in our Common Wealth government and Parliament to be prudent and wise stewards of our Common Wealth, however, they have failed us. And yet, there is nothing so basically essential as our water as the owners of our Common Wealth. </p>
			<p>
				The purpose of this project is to mobilise enough Australians to take action, socially, politically and legally against, (all three tiers of our government as required), to affirm the legitimate right to sufficient and reasonable levels of water on an ongoing basis on a socially and environmentally just basis.
			</p>
		</div>
		<div class="column">
			<p>
				Water is a public good.
				Firstly, for our communities and small farmers - and secondly - for the conservation of our environment. Only after these needs have been met to a reasonable standard as implied in Section 100 of the Australian Constitution, should it be utilised for any type of large businesses and offshore companies.
					
				Our water is an essential element of our Common Wealth - it should not be a commodity to be traded and / or transacted - to the detriment of the many and the benefit of the few.
			</p>
		</div>
		<div class="column">
			<img src="{%static 'images/world_spin_in_hands_PA_300_clr_3147.gif'%}">
			<p>
				Our elected representatives are swindling our self evident right to water, which is an essential element of our Common Wealth. They have commodified this key resource for all Australian communities, family farmers & the nourishment and conservation of our environment.
				It is up to us to reclaim these rights for all who come after us …
			</p>
		</div>
	</div>
	<div class="sqs-image-content"></div>
	
	<div style="white-space: pre; font-family: Libre Franklin;font-size: 12px">
		Rod Upward
		Convenor
		Movement for Water Justice
	</div>
	{%endblock%}
	
	{%block style%}
		<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Libre+Franklin:wght@300&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{%static 'css/our_vision.css'%}"/>
		<link rel="stylesheet" type="text/css" href="{%static 'css/responsive_our_vision.css'%}"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	{%endblock%}