h1
{
	font-family: 'Fjalla One', sans-serif;
}
h6
{
	font-family: 'Fjalla One', sans-serif;
	font-weight: bold
}
p
{
	font-weight: 550;
	word-spacing: 1px;
	letter-spacing: 1px;
	line-height: 2;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 12px;
	white-space:pre-line;
}
.row
{
	margin-top: 8%;
	margin-bottom: 3%;
}
.col
{
	margin-left: 2%;
}