h1
{
	font-size: 50px;
	letter-spacing: .00592593px;
	font-family: 'Fjalla One', sans-serif;
	
	font-weight: bold;
}
h2
{
	font-size: 38px;
	font-weight: bold;
	letter-spacing: .0175px;
	font-family: 'Fjalla One', sans-serif;
}
p
{
	font-family: 'Libre Franklin', sans-serif;
	font-size: small;
	text-align: left;
	white-space: pre-line;
}

.row
{
	content:"" ;
	display: table;
	clear: both;
	/*padding-top: 1%;*/
	padding-left: 6%;
	padding-right: 6%;
	padding-bottom: 2%;
		
}


