@media only screen and (min-width:769px){
	.navbar-light.navbar-nav.nav-link{color:#F8F8FF;}
}
@media only screen and (max-width:769px){
	.navbar-light.navbar-nav.nav-link{color:#F8F8FF;}
}
@media only screen and (min-width:480px) and (max-width:768px){
}
@media only screen and (max-width:479px){
	.header6 a{padding:10px 2px;font-size:10px;font-weight:300;font-style:normal;}
}